/*
    This file changes the primary color of bootstrap to our colors
*/
.btn-primary {
    background-color: #EA5B10;
    border-color: #EA5B10;
}

.btn-primary:hover, .btn-primary:disabled {
    background-color: #e87437;
    border-color: #e87437;
}

.bg-primary {
    background-color: #e87437 !important;
}
.btn-space {
    margin-right: 5px;
}

.btn-secondary {
    background-color: slategrey;
    border-color: #cccccc;
}

.btn-secondary:hover {
    background-color: #cccccc;
    border-color: slategray;
    color: slategray;
}

.form-control:focus {
    border-color: #cccccc;
    box-shadow: 0 0 0 .2rem #cccccc;
}

.fixed-height {
    height: 70px;
}
.top-buffer {
    margin-top:20px;
}
.title {
    background-color: slategray;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 3px;
    text-align: center;
    color: white;
}
.disabled-div {
    pointer-events: none;
    opacity: 0.4;
}
body {
    height: 100vh;
}
