/*
    This file changes the primary color of bootstrap to our colors
*/
.btn-primary {
    background-color: #EA5B10;
    border-color: #EA5B10;
}

.btn-primary:hover, .btn-primary:disabled {
    background-color: #e87437;
    border-color: #e87437;
}

.bg-primary {
    background-color: #e87437 !important;
}
.btn-space {
    margin-right: 5px;
}

.btn-secondary {
    background-color: slategrey;
    border-color: #cccccc;
}

.btn-secondary:hover {
    background-color: #cccccc;
    border-color: slategray;
    color: slategray;
}

.form-control:focus {
    border-color: #cccccc;
    box-shadow: 0 0 0 .2rem #cccccc;
}

.fixed-height {
    height: 70px;
}
.top-buffer {
    margin-top:20px;
}
.title {
    background-color: slategray;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 3px;
    text-align: center;
    color: white;
}
.disabled-div {
    pointer-events: none;
    opacity: 0.4;
}
.gray-out {
    opacity: .4;
}
.nav-item.nav-link {
    cursor: pointer;
}
.navbar-logo {
    max-width: 150px;
    max-height: 100%
}
.login-form {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 100%;
}
.login-form-div {
    width: 100%;
    text-align: center;
}
.login-form-button {
    font-size: 18px;
    margin: 16px 0;
    width: 100%;
}
.login-form-img {
    display: block;
    margin: 0 auto 10px;
    width: 100%;
}
.login-form-entry {
    width: 100%;
}
.login-form-absolute {
    left: 0;
    right: 0;
    margin-left: 2.5rem!important;
    margin-right: 2.5rem!important;
}
.feature-display {
    width: 350px;
}
body {
    overflow: scroll;
}
